<div class="image-conatiner mb-2">
    <img src="https://c1.wallpaperflare.com/preview/802/154/558/hostel-youth-hostel.jpg" class="img img-fluid rounded-2 w-100" alt="">
</div>
<div class="header bg-white p-4 w-100 border-5 border-top border-danger rounded-2">
    <h2 class="form-title">Hostel Day Event Registration Form</h2>
    <hr>
    <div class="venue-container">
        <p><span class="fw-bold">Date: </span>27<sup>th</sup> January, 2024</p>
        <p><span class="fw-bold">Time: </span>06:30 pm</p>
        <p><span class="fw-bold">Place: </span>Main Audi, Christ University</p>
    </div>
</div>
