<div class="form-container bg-white p-4 rounded-3 mb-2">
    <h5 class="mb-3">For Your Review</h5>
    <hr>
    <div class="the-details">
        <!-- @for (detail of details; track $index) { -->
        <!-- <div class="row">
                <p class="col-2 fw-bold">{{detail.name}}</p>
                <p class="col-1 fw-bold">:</p>
                <p class="col-9">{{detail.data}}</p>
            </div> -->
            <table class="table table-striped table-hover">
                <tbody>
                    @for (detail of details; track $index) {
                    <tr>
                        <td class="fw-medium">{{detail.name}}</td>
                        <td class="wrap-cell">{{detail.data}}</td>
                    </tr>
                    }
                </tbody>
            </table>
    </div>
</div>