<div class="form-container bg-white p-4 rounded-3 mb-2">
    <h5 class="mb-3">For Your Review</h5>
    <hr>
    <div class="the-details">
        <div class="row">
            <div class="col">
                <p><span class="fw-bold">Full Name: </span> {{outputData.firstName + " " + outputData.lastName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><span class="fw-bold">Hostel: </span> {{outputData.hostel}}</p>
            </div>
            <div class="col-md-6">
                <p><span class="fw-bold">Room No: </span> {{outputData.roomNo}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><span class="fw-bold">Email: </span> {{outputData.email}}</p>
            </div>
            <div class="col-md-6">
                <p><span class="fw-bold">Mobile No: </span> {{outputData.mobile}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><span class="fw-bold">Food Type: </span> {{outputData.foodType}}</p>
            </div>
            <!-- <div class="col-md-6">
                <p><span class="fw-bold">Mobile No: </span> {{outputData.mobile}}</p>
            </div> -->
        </div>
    </div>

</div>