@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: 'Inter', sans-serif;

    /* Color Shades */
    --primary-1: #FAE3E1;
    --primary-2: #fa8e84;
    --primary-3: #DB4437;
}

body {
    background-color: var(--primary-1);
}